.grey{

    background-color:rgb(189, 176, 176);


}

h2{

    color: blue;
    background-color: aqua;

}

.User{

    color: blue;

}

.table{
    color: blue;
}

.font0{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.font1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}