#div1{
    display: flex;
    flex-wrap: wrap;
    border: #bbb55c 3px solid;
    width: 800px;
    height: 600px;
    align-content: flex-start;
}

.divinside1{
    width: 200px;
    height: 200px;
    background-color: green;
    
}

.divinside2{
    width: 200px;
    height: 200px;
    background-color: yellow;
}

.divinside3{
    width: 200px;
    height: 200px;
    background-color: purple;
}


.divinside4{
    width: 200px;
    height: 200px;
    background-color: gray;
}

.divinside5{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.divinside6{
    width: 200px;
    height: 200px;
    background-color: orange;
}


.divinside7{
    width: 200px;
    height: 200px;
    background-color: pink;
}


.divinside8{
    width: 200px;
    height: 200px;
    background-color: red;
}

.divinside9{
    width: 200px;
    height: 200px;
    background-color: rgb(119, 11, 11);
}

.divinside10{
    width: 200px;
    height: 200px;
    background-color: rgb(17, 143, 44);
}