div{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
}

.green{
    background-color: green;
    width: 100px;
    height: 100px;
}

.green::after{
    content: '';
    border: black 1px solid;
}