body{
    background-color: blanchedalmond;
}
div{
    border: 2px black solid;
    margin: 10px;
    width: 500px;
    background-color: white;
    padding-bottom: 10px;
    padding-left: 5px; padding-right: 5px;

}

.yellow{

    background-color: yellow;
}


.orange{

    background-color: orange;
}

.three{
    color: red;
    border: red 3px dotted;
}

.inside{
    border: red 3px dotted;
    width: auto;
    height: auto;
    margin: 10px;
}