#div1{
    display: flex;
    flex-wrap: wrap;
    border: #bbb55c 3px solid;
    width: 200px;
    height: 100px;
    
    
}




.divinside1{
    width: 50px;
    height: 50px;
    background-color: green;
    
}

.divinside2{
    width: 50px;
    height: 50px;
    background-color: yellow;
}

.divinside3{
    width: 50px;
    height: 50px;
    background-color: purple;
}


.divinside4{
    width: 50px;
    height: 50px;
    background-color: gray;
}

.divinside5{
    width: 50px;
    height: 50px;
    background-color: blue;
}

.divinside6{
    width: 50px;
    height: 50px;
    background-color: orange;
}


.divinside7{
    width: 50px;
    height: 50px;
    background-color: pink;
}


.divinside7{
    width: 50px;
    height: 50px;
    background-color: red;
}

.divinside7{
    width: 50px;
    height: 50px;
    background-color: rgb(119, 11, 11);
}