.container{
    display: grid;
    width: 2000px;
    height: 1000px;
   
}



.black{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 4;
}


.green{
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 3;
   
}

.orange{
    background-color: orange;
    grid-column-start: 3;
    grid-column-end: 4;
   
}

.blue{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 4;
}