*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}


.button-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    padding: 20px 40px;
    border-radius: 8px;
    color: rgb(17, 13, 13);
    font-size: 2rem;
    font-weight: bolder;
    margin: 0 15px;
    transition: 0.5s;
}


.button1{
    color: #FFCE00;
    border: #FFCE00 4px solid;
}


.button1:hover{
    background-color: #FFCE00;
    color: white;
}


.button2{
    color: #fe4880;
    border: 4px solid #fe4880;
    background-image: linear-gradient(to right, transparent 50%, #fe4880 50%);
    background-size: 200% 300%;
    background-position: 0% 0%;
}


.button2:hover{
    color: white;
    background-position: 100%;
    
}


.button3{
    color: #68dea0;
    border: 4px solid #68dea0;
    background-image: linear-gradient(to top,   transparent 50%, #68dea0 50%);
    background-size: 100% 200%;
    background-position: 0% 100%;
}


.button3:hover{
    color: white;
    background-position: 100% 0%;
    
}


.button4{
    color: white;
    background-color: #68a0de;
    box-shadow: inset 0 -8px 0 0 rgb(0, 0, 0, 0.2);
    transition: 0.1s;
    text-shadow: 0px 3px rgb(0, 0, 0, 0.2);;
}


.button4:hover{
    box-shadow: inset 0 -6px 0 0 rgb(0, 0, 0, 0.2);
}


.button4:active{
    box-shadow: inset 0 -1px 0 0 rgb(0, 0, 0, 0.2);
    text-shadow: 0px 1px rgb(0, 0, 0, 0.2);
}

.button5 {
    position: relative;
  }
  
  .button5:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #212121;
    border-right: 3px solid #212121;
    transition: all 0.4s, opacity 0.1s 0.4s;
    opacity: 0;
  }
  
  .button5:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top: 3px solid #212121;
    border-left: 3px solid #212121;
    transition: all 0.4s, opacity 0.1s 0.4s;
    opacity: 0;
  }
  
  .button5:hover:after, .button5:hover::before {
    width: 100%;
    height: 100%;
    transition: all 0.4s, opacity 0.1s;
    opacity: 1;
  }