div{
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.center{
    width: 35%;
    text-align: center;

}

.center1{
    width: 31%;
    text-align: center;
}

.blue{
    color: blue;
}

.green{

    color: green;
}
