div {
    width: 500px;
    height: 500px;
    background-color: red;
    border-radius: 50%;
    background-size: contain;
    position: relative;
    transition: 3s;
    animation: moveit 8s linear infinite;
}

@keyframes moveit {
    0%{
        left: 100%;
    }

    50%{
        left: -50%;
    }
    100%{
        left: 100%;
    }

}