.wrapper6{
    margin: 100px;
    padding: 20px;
    width: 100%;

}


.skew{
    width: 50px;
    height: 25px;
    background-color: #f0f0f0;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
    border-radius: 20px;

}

.parent{
    background-color: yellow;
    width: 50px;
    height: 25px;
    border-radius: 20px;
}
.skew:hover{
    transform: scale(1.5 , 2) skew(4deg);
    border: 2px snow;
    
}

